.App {
  text-align: center;
}

input {
  margin-right: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  background-color: blueviolet;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
